page-home {

}

  /**************slide part****************/
  .row_overflow{
    overflow-x: scroll;
  }
  .home_sildes{
      width: 100% !important;
      height: 400px;
  }
  .slide_box{
    width: auto !important;
  }
  .slide_title{
    font-weight: bold;
    font-size: 10px !important;
  }
  .slide_date{
    font-size: 8px !important;
  }
  .seg_button{
    font-size: 8px;
  }
  /**************slide part end****************/


  /**************movie box part****************/

  .list_box{
    width: auto !important;
  }
  .movie_title{
    font-weight: bold;
    font-size: 8px;
    text-align: center;
    overflow: hidden;
  }
  .movie_subtitle{
    color: grey; 
    font-size: 7px;
    text-align: center;
  }
  .rating_box{
    text-align: center;
  }
  .star-icon{
      color: #ddd;
      font-size: 13.4px;
      position: relative;
  }
  .star-icon.full:before {
      color: #FDE16D;
      content: '\2605'; /* Full star in UTF8 */
      position: absolute;
      left: 0;
      text-shadow: 0 0 2px rgba(0,0,0,0.7);
   }
   .star-icon.half:before {
      color: #FDE16D;
      content: '\2605'; /* Full star in UTF8 */
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden;
      text-shadow: 0 0 2px rgba(0,0,0,0.7);
  }

  .star-icon.half:before {
      color: #FDE16D;
      content: '\2605'; /* Full star in UTF8 */
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden;
      text-shadow: 0 0 2px rgba(0,0,0,0.7);
  }
  .rate_subtitle{
    font-size: 3px;
    text-align: center;
  }
  .movie_img{
    margin: 0 auto;
    width: 100% !important;
    height: 150px;
  }
  /**************movie box part end****************/