// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/theme.dark";
@import "../theme/theme.light";

/**************movie box part****************/

.list_box {
    width: auto !important;
}

.movie_title {
    font-weight: bold;
    font-size: 8px;
    text-align: center;
    overflow: hidden;
}

.movie_subtitle {
    color: grey;
    font-size: 7px;
    text-align: center;
}

.rating_box {
    text-align: center;
}

.star-icon {
    color: #ddd;
    font-size: 14px;
    position: relative;
}

.star-icon.full:before {
    color: #FDE16D;
    content: '\2605';
    /* Full star in UTF8 */
    position: absolute;
    left: 0;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.star-icon.half:before {
    color: #FDE16D;
    content: '\2605';
    /* Full star in UTF8 */
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.star-icon.half:before {
    color: #FDE16D;
    content: '\2605';
    /* Full star in UTF8 */
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.rate_subtitle {
    font-size: 3px;
    text-align: center;
}

.movie_img {
    margin: 0 auto;
    width: 100% !important;
    height: 150px;
}

ion-row {
    max-width: 500px;
}


/**************movie box part end****************/